{%extends "base.html"%}
{%block title%}
    Profile-page
{%endblock%}
{%block body%}
    <h3 class = "text-center m-4">Profile Page</h3>
    <div class = "row justify-content-center">
        <div class = "col-4">
            <div class="card text-white ms-4 me-4 mb-4">
                <div class="card-header">
                    <i class = "fa-solid fa-address-card fa-lg"></i>Username Profile Dashboard
                </div>
                <div class="card-body">
                    Profile Info will go in here
                    <p>Username</p>
                    <p>Email</p>
                    <p>Password</p>
                    <p>Edit</p>
                </div>
            </div>
        </div>
    </div>
{%endblock%}